html {
    font-family: Ubuntu, Arial, "libra sans", sans-serif;
}
button.neutral {
    -webkit-box-shadow: 0 2px 2px rgba(100, 100, 100, 0.4) inset;
    box-shadow: 0 2px 2px rgba(100, 100, 100, 0.4) inset;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    min-width: 92px;
    height: 35px;
    line-height: 27px;
    padding: 4px 10px;
    background: #dd4814;
    border: none;
    border-radius: 9px/7px;
    color: #ffffff;
    font-family: "Ubuntu";
    font-size: 1rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    -webkit-transition: box-shadow 0.175s;
    -moz-transition: box-shadow 0.175s;
    -o-transition: box-shadow 0.175s;
    transition: box-shadow 0.175s;
    vertical-align: middle;
    white-space: nowrap;
}